* {
    font-family: Lato !important;
}
.row {
    padding: 1%;
}
.searchCol {
    padding: 2%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: dodgerblue;
}
.userDetails {
    padding: 1%;
    margin-top: 0.5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(223, 227, 231);
}
.totalUser {
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
.spinner {
    padding: 1%;
    margin-left: 45%;
    margin-right: 40%; 
}
.profilePic{
    height: 60px;
    width: 60px;
}
.pagination{
    padding: 2%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}